*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   body{
       font-family: 'Waiting for the Sunrise', cursive; 
       background-color: #1a1a1a;
       display: flex;
       justify-content: center;
       align-items: center;
       min-height: 100vh;
   }
   .iam{
     color: white;
       font-size: 55px;
       padding: 15px;
       font-family: 'Waiting for the Sunrise', cursive; 
   }
   .text{
     color: white;
       border-right: 2px solid rgb(255, 26, 102);
       font-size: 55px;
       font-family: 'Waiting for the Sunrise', cursive; 
       color: rgb(255, 26, 102);
   }